.header {
  height: 15vh;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &-div {
    display: flex;
    justify-content: space-around;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-left: 30vw;
  }

  &__nav {
    text-decoration: none;
    color: $mercury;
    font-size: 15px;
    margin-right: 15vw;
    margin-left: 10vw;
    margin-bottom: 10px;

    &:hover {
      color: $white;
      border-bottom: 3px solid $white;
      padding-bottom: 10px;
    }
  }
}

@include medium {
  .header {
    height: 15vh;

    &-div {
      display: flex;
      flex-direction: row;
    }

    &__image {
      margin-left: 10px;
      margin-right: 70px;
    }

    &__nav {
      font-size: 15px;
      margin-right: 20vw;
      margin-left: 5vw;

      &:hover {
        padding-bottom: 32px;
      }
    }
  }
}

@include large {
  .header {
    height: 80px;
    background-color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__image {
      margin-left: 180px;
    }

    &__nav {
      margin-left: 56px;
      margin-right: 10px;
      text-decoration: none;
      color: $mercury;
      font-size: 12px;

      &:hover {
        color: $white;
        border-bottom: 3px solid $white;
        padding-bottom: 27px;
      }
    }
  }
}
