.hero {
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    background-image: url(../../assets/images/heroimage.jpg);
    width: 100%;
    height: 183px;
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--text {
      align-items: center;
      font-family: "AvenirBold";
      color: $white;
      position: absolute;
      margin-top: 60px;
      font-size: 30px;
      margin-left: 16px;
    }
  }
}

.section__image {
  display: flex;
  flex-direction: column;
  background-color: $alabaster;
  width: 100%;

  &--title {
    font-family: "AvenirBold";
    padding-left: 16px;
    font-size: 1.5em;
  }

  &--gallery {
    width: 90%;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@include medium {
  .hero {
    display: flex;
    flex-direction: row;

    &__image {
      position: relative;
      background-image: url(../../assets/images/heroimage.jpg);
      width: 100%;
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--text {
        align-items: center;
        font-family: "AvenirBold";
        color: $white;
        position: absolute;
        margin-top: 120px;
        font-size: 4em;
        margin-left: 24px;
      }
    }
  }
  @include medium {
    .section__image {
      flex-direction: row;
      flex-wrap: wrap;

      &--title {
        padding-left: 24px;
        padding-right: 300px;
        font-size: 2em;
      }
      &--gallery {
        width: 27%;
        margin-bottom: 24px;
        margin-left: 24px;
      }
    }
  }
}

@include large {
  .hero {
    display: flex;
    flex-direction: row;

    &__image {
      position: relative;
      background-image: url(../../assets/images/heroimage.jpg);
      width: 100%;
      height: 620px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--text {
        align-items: center;
        font-family: "AvenirBold";
        color: $white;
        position: absolute;
        margin-top: 180px;
        font-size: 3em;
        margin-left: 180px;
      }
    }
  }
  @include large {
    .section__image {
      &--title {
        font-size: 2em;
        margin-left: 140px;
        margin-top: 48px;
        margin-right: 250px;
      }
      &--gallery {
        width: 25%;
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
    .section-image {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 20px;
    }
  }
}
