.about {
  display: flex;
  flex-direction: column;
  font-family: "AvenirRegular";

  &__title {
    font-family: "AvenirBold";
    font-size: 0.8em;
    margin-left: 16px;
  }
  &-image {
    width: 90%;
    height: 25vh;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  &__image {
    display: flex;
    align-items: center;
  }

  &-text {
    display: flex;
    font-family: "AvenirSemiBold";
    margin: 16px;
    width: 80%;
    font-size: 0.8em;
  }

  &__text {
    font-family: "AvenirSemiBold";
    margin: 16px;
    width: 80%;

    &--title {
      margin-left: 16px;
      font-family: "AvenirSemiBold";
    }
  }
}

.text-title {
  display: flex;
  flex-direction: column;

  &__left {
    width: 90%;
    line-height: 150%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: auto;
    font-size: 0.7em;
  }
  &__right {
    width: 90%;
    line-height: 150%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: auto;
    font-size: 0.7em;
  }
}

@include medium {
  .about {
    flex-direction: column;
    font-family: "AvenirRegular";

    &__title {
      font-family: "AvenirBold";
      font-size: 1em;
      margin-left: 24px;
    }
    &-image {
      width: 90%;
      height: 370px;
      margin-bottom: 24px;
      margin-left: 24px;
      margin-right: 24px;
    }

    &__image {
      display: flex;
      align-items: center;
    }

    &-text {
      display: flex;
      font-family: "AvenirSemiBold";
      margin: 24px;
      width: 80%;
      font-size: 1em;
    }

    &__text {
      display: flex;
      font-family: "AvenirSemiBold";
      margin: 24px;
      width: 80%;
      font-size: 1.5em;

      &--title {
        margin-left: 24px;
        margin-top: 10px;
        font-family: "AvenirSemiBold";
        font-size: 1.5em;
      }
    }
  }
}

@include medium {
  .text-title {
    display: flex;
    flex-direction: row;

    &__left {
      width: 80%;
      font-size: 1em;
      line-height: 150%;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
      margin-top: auto;
    }
    &__right {
      width: 80%;
      font-size: 1em;
      line-height: 150%;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
      margin-top: auto;
    }
  }
}

@include large {
  .about {
    flex-direction: column;
    font-family: "AvenirRegular";

    &__title {
      font-family: "AvenirBold";
      font-size: 1em;
      margin-left: 180px;
    }
    &-image {
      width: 62%;
      height: 450px;
      margin-bottom: 24px;
      margin-left: 250px;
    }

    &__image {
      display: flex;
      align-items: center;
    }

    &-text {
      display: flex;
      font-family: "AvenirSemiBold";
      margin-left: 250px;
      width: 62%;
      font-size: 1em;
    }

    &__text {
      display: flex;
      font-family: "AvenirSemiBold";
      margin-top: 10px;
      margin-left: 250px;
      width: 62%;
      font-size: 1.5em;

      &--title {
        margin-left: 250px;
        margin-top: 10px;
        font-family: "AvenirSemiBold";
        font-size: 1.5em;
      }
    }
  }
}

@include large {
  .text-title {
    display: flex;
    flex-direction: row;

    &__left {
      width: 30%;
      line-height: 200%;
      font-size: 0.8em;
      margin-left: 250px;
      margin-bottom: 24px;
    }
    &__right {
      width: 30%;
      line-height: 200%;
      font-size: 0.8em;
      margin-left: 20px;
      margin-bottom: 24px;
    }
  }
}
