.hero-two {
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    background-image: url(../assets/images/heroimagetwo.jpg);
    width: 100%;
    height: 550px;
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--album {
      align-items: center;
      font-family: "AvenirSemiBold";
      color: $white;
      position: absolute;
      margin-top: 64px;
      font-size: 20px;
      margin-left: 20px;
    }

    &--song {
      align-items: center;
      position: absolute;
      width: 80%;
      height: 135px;
      margin-top: 350px;
      margin-left: 20px;
    }

    &--text {
      align-items: center;
      font-family: "AvenirBold";
      color: $white;
      position: absolute;
      margin-top: 95px;
      font-size: 45px;
      margin-left: 20px;
      width: 80%;
    }
  }
}
.shows-container {
  &__heading {
    font-family: "AvenirBold";
    font-size: 2em;
    padding-left: 20px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  &__events {
    padding-left: 20px;
    margin-top: 40px;

    &--title {
      font-family: "AvenirSemiBold";
      color: $silver;
      font-size: 0.9em;
      padding-bottom: 16px;
    }
    &--dates {
      font-family: "AvenirSemiBold";
      padding-bottom: 24px;
    }
    &--venue {
      font-family: "AvenirRegular";
      padding-bottom: 24px;
    }
    &--location {
      font-family: "AvenirRegular";
      padding-bottom: 32px;
    }
  }
}
.show-button {
  font-size: 12px;
  background-color: $black;
  color: $white;
  width: 200px;
  height: 48px;
  border-radius: 12px;
}

@include medium {
  .shows-container {
    &__events {
      display: none;
    }
    &__table {
      margin-left: 200px;
      margin-bottom: 40px;

      &-title {
        font-family: "AvenirSemiBold";
        color: $silver;
        font-size: 0.8em;
      }
    }
  }
}
