/* universal resets */
html,
body {
  margin: 0;
  font-family: "AvenirRegular", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/** media query for mobile **/
/** media query for tablet **/
/** media query got landscape, medium pixel density desktops **/
/** media query for high pixel density dekstops **/
@font-face {
  font-family: "AvenirRegular";
  src: url(../assets/fonts/AvenirRegular.otf);
}

@font-face {
  font-family: "AvenirSemiBold";
  src: url(../assets/fonts/AvenirSemiBold.otf);
}

@font-face {
  font-family: "AvenirBold";
  src: url(../assets/fonts/AvenirBold.otf);
}

@font-face {
  font-family: "AvenirThin";
  src: url(../assets/fonts/AvenirThin.otf);
}

.header {
  height: 10vh;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-div {
  width: 100%;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin-left: 33vw;
}

.header__nav {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 160px;
  text-align: center;
}

.header__nav:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 3.125%;
    height: 10vh;
  }
  .header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .header__image {
    margin-left: 10px;
    margin-right: 30px;
  }
  .header__nav {
    margin-left: 0;
    text-align: center;
    font-size: 15px;
    margin: 0 30px;
    width: 80px;
  }
  .nav-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height: 80px;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-div {
    width: 100%;
  }
  .header__image {
    margin-left: 180px;
  }
  .header__nav {
    margin-left: 0;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: #e1e1e1;
    font-size: 12px;
  }
  .header__nav:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}

@media only screen and (min-width: 1440px) {
  .header-div {
    width: 100%;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__image {
  position: relative;
  background-image: url(../assets/images/heroimage.jpg);
  width: 100vw;
  height: 25vh;
  background-color: #323232;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__image--text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AvenirBold";
  color: #ffffff;
  position: absolute;
  margin-top: 75px;
  font-size: 30px;
  margin-left: 16px;
}

.section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  background-color: #fafafa;
}

.section__image--title {
  font-family: "AvenirBold";
  padding-left: 16px;
  font-size: 1.5em;
}

.section__image--gallery {
  width: 90%;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section__image--gallery:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media only screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 110%;
  }
  .hero__image {
    position: relative;
    background-image: url(../assets/images/heroimage.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__image--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirBold";
    color: #ffffff;
    position: absolute;
    margin-top: 120px;
    font-size: 4em;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .section__image {
    padding: 0 3.125%;
  }
  .section__image--title {
    padding-left: 0;
    font-size: 2em;
  }
  .section__image--gallery {
    width: 224px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .section__image--gallery:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__image {
    position: relative;
    background-image: url(../assets/images/heroimage.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__image--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirBold";
    color: #ffffff;
    position: absolute;
    margin-top: 180px;
    font-size: 3em;
    margin-left: 180px;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .section__image {
    padding: 0;
    width: 100%;
  }
  .section__image--title {
    font-size: 2em;
    margin-left: 180px;
  }
  .section__image--gallery {
    width: 25%;
    margin-bottom: 24px;
    margin-right: 24px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .section__image--gallery:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .section-image {
    margin-left: 10px;
    width: 100vw;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "AvenirRegular";
}

.about-container__title {
  font-family: "AvenirBold";
  font-size: 0.8em;
  margin-left: 16px;
}

.about-container__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container__image--wallpaper {
  width: 90%;
  height: 20vh;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.about-container__slogan {
  font-family: "AvenirSemiBold";
  margin: 16px;
  width: 80%;
}

.about-container__slogan--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirSemiBold";
  margin: 16px;
  width: 80%;
  font-size: 0.8em;
}

.about-container__slogan--title {
  margin-left: 16px;
  font-family: "AvenirSemiBold";
}

.about-container__text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container__text-title--left {
  width: 90%;
  line-height: 150%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: auto;
  font-size: 0.7em;
}

.about-container__text-title--right {
  width: 90%;
  line-height: 150%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: auto;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .about-container {
    font-family: "AvenirRegular";
  }
  .about-container__text-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-container__text-title--left {
    width: 50%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
  .about-container__text-title--right {
    width: 50%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
  .about-container__title {
    font-family: "AvenirBold";
    font-size: 1em;
    margin-left: 24px;
  }
  .about-container__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container__image--wallpaper {
    width: 90%;
    height: 370px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .about-container__slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin: 24px;
    width: 80%;
    font-size: 1.5em;
  }
  .about-container__slogan--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin: 24px;
    width: 80%;
    font-size: 1em;
  }
  .about-container__slogan--title {
    margin-left: 24px;
    margin-top: 10px;
    font-family: "AvenirSemiBold";
    font-size: 1.5em;
  }
  --left {
    width: 50%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
  --right {
    width: 50%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "AvenirRegular";
  }
  .about-container__title {
    font-family: "AvenirBold";
    font-size: 1em;
    margin-left: 180px;
  }
  .about-container__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container__image--wallpaper {
    width: 62%;
    height: 450px;
    margin-bottom: 24px;
    margin-left: 250px;
  }
  .about-container__slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin-top: 10px;
    margin-left: 250px;
    width: 62%;
    font-size: 1.5em;
  }
  .about-container__slogan--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin-left: 250px;
    width: 62%;
    font-size: 1em;
  }
  .about-container__slogan--title {
    margin-left: 250px;
    margin-top: 10px;
    font-family: "AvenirSemiBold";
    font-size: 1.5em;
  }
  .about-container__text-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-container__text-title--left {
    width: 30%;
    line-height: 200%;
    font-size: 0.8em;
    margin-left: 250px;
    margin-bottom: 24px;
  }
  .about-container__text-title--right {
    width: 30%;
    line-height: 200%;
    font-size: 0.8em;
    margin-left: 20px;
    margin-bottom: 24px;
  }
}

.hero-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-two__image {
  position: relative;
  background-image: url(../assets/images/heroimagetwo.jpg);
  width: 100%;
  height: 550px;
  background-color: #323232;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-two__image--album {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AvenirSemiBold";
  color: #ffffff;
  position: absolute;
  margin-top: 64px;
  font-size: 20px;
  margin-left: 20px;
}

.hero-two__image--song {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 80%;
  height: 135px;
  margin-top: 400px;
  margin-left: 20px;
}

.hero-two__image--text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AvenirBold";
  color: #ffffff;
  position: absolute;
  margin-top: 95px;
  font-size: 45px;
  margin-left: 20px;
  width: 100%;
}

.container-div {
  padding-left: 16px;
  border-bottom: 0.2vw solid #e1e1e1;
  padding-bottom: 16px;
}

.show-heading {
  font-family: "AvenirBold";
  font-size: 2em;
  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 0;
}

.date-heading,
.venue-heading,
.location-heading {
  display: none;
}

.date-title,
.venue-title,
.location-title {
  font-family: "AvenirSemiBold";
  color: #afafaf;
}

.dates-cell {
  font-family: "AvenirSemiBold";
}

.button-cell {
  padding: 12px 28px;
  border-radius: 12px;
  color: #ffffff;
  background-color: #323232;
  width: 288px;
  height: 48px;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .hero-two__image {
    position: relative;
    background-image: url(../assets/images/heroimagetwo.jpg);
    width: 100%;
    height: 670px;
    background-color: #323232;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-two__image--album {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirSemiBold";
    color: #ffffff;
    position: absolute;
    margin-top: 96px;
    font-size: 20px;
    margin-left: 24px;
  }
  .hero-two__image--song {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 60%;
    height: 135px;
    margin-top: 500px;
    margin-left: 24px;
  }
  .hero-two__image--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirBold";
    color: #ffffff;
    position: absolute;
    margin-top: 130px;
    font-size: 70px;
    margin-left: 24px;
    width: 80%;
  }
  .container-div {
    padding-left: 24px;
    border-bottom: 0.2vw solid #e1e1e1;
    padding-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
  }
  .show-heading {
    font-family: "AvenirBold";
    font-size: 2.5em;
    padding-left: 24px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  .headings {
    padding-left: 24px;
  }
  .date-heading,
  .venue-heading,
  .location-heading {
    display: inline-block;
    font-family: "AvenirSemiBold";
    color: #afafaf;
  }
  .date-heading {
    margin-right: 14vw;
  }
  .venue-heading {
    margin-right: 22.5vw;
  }
  .date-title,
  .venue-title,
  .location-title {
    display: none;
  }
  .dates-cell {
    width: 140px;
    margin-right: 4vw;
  }
  .venue-cell {
    text-align: left;
    width: 200px;
    margin-right: 5vw;
  }
  .button-cell {
    width: 150px;
    height: 60px;
  }
  .location-cell {
    width: 140px;
    margin-right: 6vw;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-two__image {
    height: 700px;
    width: 100%;
  }
  .hero-two__image--album {
    margin-top: 160px;
    margin-left: 180px;
  }
  .hero-two__image--text {
    font-size: 65px;
    margin-top: 190px;
    margin-left: 180px;
  }
  .hero-two__image--song {
    width: 300px;
    height: 146px;
    margin-left: 570px;
    margin-top: 380px;
  }
  .headings {
    margin-left: 180px;
  }
  .table {
    margin-left: 180px;
    width: 804px;
  }
  .container-div {
    margin-top: 10px;
  }
  .date-heading {
    margin-right: 11vw;
  }
  .venue-heading {
    margin-right: 16.5vw;
  }
  .button-cell {
    width: 175px;
    height: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  /* -webkit-box-sizing: border-box;
          box-sizing: border-box; */
  .hero-two__image {
    height: 700px;
    width: 100%;
  }
  .hero-two__image--album {
    margin-top: 160px;
    margin-left: 180px;
  }
  .hero-two__image--text {
    font-size: 65px;
    margin-top: 190px;
    margin-left: 180px;
  }
  .hero-two__image--song {
    width: 300px;
    height: 146px;
    margin-left: 570px;
    margin-top: 380px;
  }
  .show-heading {
    font-family: "AvenirBold";
    font-size: 3em;
    padding-left: 170px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  .headings {
    margin-left: 400px;
  }
  .table {
    margin-left: 400px;
  }
  .container-div {
    margin-top: 10px;
    width: 804px;
  }
  .date-heading {
    margin-right: 9.5vw;
  }
  .venue-heading {
    margin-right: 13.2vw;
  }
  .button-cell {
    width: 235px;
    height: 60px;
  }
}

.comment__form {
  margin: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment__title {
  font-size: 1.5em;
  margin: 10vw 5vw 12.5vw 5vw;
  font-family: "AvenirBold";
}

.comment__img {
  width: 16vw;
  height: 16vw;
  border-radius: 100%;
  margin: 8vw 0;
}

.comment__name {
  margin: 0 6vw 0 6.5vw;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__container-name,
.comment__container-text {
  color: #afafaf;
  font-size: 4vw;
  font-family: "AvenirSemiBold";
}

.comment__name-input {
  border: 0.5vw solid #323232;
  border-radius: 1.2vw;
  width: 60vw;
  height: 1.5vw;
  margin-top: 3vw;
  padding: 5vw;
}

.comment__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6vw 6vw;
}

.comment__text-input {
  width: 60vw;
  height: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.3vw solid #e1e1e1;
  border-radius: 1.2vw;
  background-color: #fafafa;
  resize: none;
  margin-top: 3vw;
  padding: 5vw;
}

.comment-button {
  border-radius: 2vw;
  color: #ffffff;
  background-color: #323232;
  font-size: 4vw;
  cursor: pointer;
  width: 60vw;
  margin: 1.2vw;
  padding: 15px 32px;
  margin: 5vw 6vw;
}

.comment-output {
  margin: 10vw 0 15vw 0;
}

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 4vw;
  border-top: 0.2vw solid #e1e1e1;
  border-bottom: 0.2vw solid #e1e1e1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5vw;
  padding: 3.1vw 0;
  border-collapse: collapse;
}

.row-container:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

.button-container {
  width: 13vw;
  height: 13vw;
  border-radius: 100vw;
  background-color: #e1e1e1;
}

.name-container {
  margin: 3vw 7vw 3vw 3vw;
  font-size: 4vw;
  font-family: "AvenirSemiBold";
  height: 7vw;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.date-container {
  color: #afafaf;
  font-size: 1em;
  margin: 0.5vw 1vw;
  -ms-grid-column-align: end;
      justify-self: end;
}

.id-container {
  display: none;
}

.comment-container {
  font-family: "Avenirthin";
  text-align: left;
  font-size: 0.8em;
  width: 100vw;
  margin: 0 0 2vw 16vw;
}

@media only screen and (min-width: 768px) {
  .comment__form {
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comment__title {
    font-size: 2.5em;
    margin-top: 32px;
    margin-left: 24px;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    margin: 5.5vw 0;
  }
  .comment__name {
    margin: 0 9vw 0 7.4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment__container-name,
  .comment__container-text {
    color: #afafaf;
    font-family: "AvenirSemiBold";
    font-size: 2vw;
  }
  .comment__name-input {
    border: 0.5vw solid #323232;
    border-radius: 1.2vw;
    width: 60.5vw;
    height: 1.5vw;
    margin-top: 3vw;
    padding: 4vw;
    font-size: 0.8em;
  }
  .comment__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3vw 8.5vw 5vw;
    font-size: 0.8em;
  }
  .comment__text-input {
    width: 60vw;
    height: 10vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.3vw solid #e1e1e1;
    border-radius: 1.2vw;
    background-color: #fafafa;
    resize: none;
    margin-top: 20px;
    padding: 4vw 4vw 15vw 4vw;
    font-size: 1em;
  }
  .comment-button {
    border-radius: 0.5vw;
    color: #ffffff;
    background-color: #323232;
    font-size: 1.5vw;
    cursor: pointer;
    width: 20vw;
    height: 48px;
    padding: 15px 16px;
    margin: 0;
    margin-left: 48vw;
  }
  .row-container {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
    margin-left: 90px;
    margin-right: 24px;
    font-size: 3.5vw;
    border-top: 0.2vw solid #e1e1e1;
    border-bottom: 0.2vw solid #e1e1e1;
  }
  .comment-output {
    margin-top: 0;
  }
  .button-container {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: #afafaf;
  }
  .name-container {
    width: 170px;
    font-size: 0.7em;
    font-family: "AvenirSemiBold";
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .date-container {
    color: #afafaf;
    font-size: 0.6em;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 0.6em;
    width: 80vw;
    margin-left: 86px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .comment__form {
    height: 37vw;
  }
  .comment__title {
    font-size: 2em;
    margin-top: 32px;
    margin-left: 160px;
    margin-bottom: 5vw;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
  }
  .comment__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 20px;
    height: 12vh;
  }
  .comment__container-name,
  .comment__container-text {
    color: #afafaf;
    font-family: "AvenirSemiBold";
    font-size: 1.2vh;
  }
  .comment__name-input {
    border: 0.5vw solid #323232;
    border-radius: 1.2vw;
    width: 460px;
    height: 60px;
    padding: 0;
    font-size: 1em;
  }
  .comment__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    margin-left: 2.5vw;
    width: 535px;
  }
  .comment__text-input {
    width: 460px;
    height: 96px;
    padding: 4vw 1vw 4vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.3vw solid #e1e1e1;
    border-radius: 1.2vw;
    background-color: #fafafa;
    resize: none;
    margin-top: 20px;
    font-size: 1em;
  }
  .comment-output {
    margin: 1vw 0 15vw 0;
    padding-left: 270px;
  }
  .comment-button {
    border-radius: 1.5vw;
    color: #ffffff;
    background-color: #323232;
    font-size: 1em;
    cursor: pointer;
    width: 160px;
    height: 48px;
    margin-bottom: 40px;
    padding: 10px 16px;
    margin-left: 32vw;
    margin-top: 20px;
  }
  .row-container {
    width: 53vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 50px;
    margin-right: 24px;
    font-size: 2.5vw;
    border-top: 0.2vw solid #e1e1e1;
    border-bottom: 0.2vw solid #e1e1e1;
  }
  .button-container {
    width: 5vw;
    height: 5vw;
    margin-right: 35px;
    border-radius: 100%;
    background-color: #afafaf;
  }
  .name-container {
    width: 170px;
    font-size: 0.65em;
    font-family: "AvenirSemiBold";
    margin-top: 24px;
  }
  .date-container {
    color: #afafaf;
    font-size: 0.5em;
    margin-top: 0;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 0.6em;
    width: 80%;
    margin-left: 50px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .comment__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 20vw;
  }
  .comment__title {
    font-size: 3vw;
    margin: 0 12.5vw;
    padding: 5vw 0;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    margin: 0 2vw 2vw;
  }
  .comment__name {
    height: 150px;
    margin-right: 5vw;
  }
  .comment__container-name,
  .comment__container-text {
    color: #afafaf;
    font-family: "AvenirSemiBold";
    font-size: 1.2vh;
  }
  .comment__name-input {
    border: 0.3vw solid #323232;
    border-radius: 0.5vw;
    width: 40vw;
    height: 1vw;
    padding: 2.5vw;
    font-size: 1.1vw;
    margin-top: 0.5vw;
  }
  .comment__text {
    height: 100px;
    width: 535px;
    margin-bottom: 0;
    margin-left: 1.5vw;
    margin-top: 0;
  }
  .comment__text-input {
    width: 40vw;
    height: 10vw;
    padding: 1.5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.3vw solid #e1e1e1;
    border-radius: 0.5vw;
    background-color: #fafafa;
    resize: none;
    margin-top: 0.5vw;
    font-size: 1.1vw;
  }
  .comment-output {
    padding-left: 270px;
    margin-top: 5vw;
  }
  .comment-button {
    border-radius: 0.5vw;
    color: #ffffff;
    background-color: #323232;
    font-size: 1.2vw;
    cursor: pointer;
    width: 15vw;
    height: 48px;
    padding: 10px 16px;
    margin: 0;
    margin-left: 26.5vw;
    margin-top: 2vw;
  }
  .row-container {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
    margin-left: 90px;
    margin-right: 24px;
    font-size: 2em;
    border-top: 0.2vw solid #e1e1e1;
    border-bottom: 0.2vw solid #e1e1e1;
  }
  .button-container {
    width: 4vw;
    height: 4vw;
    margin: 0 2.4vw;
    border-radius: 100%;
    background-color: #afafaf;
  }
  .name-container {
    width: 170px;
    height: 2vw;
    font-size: 1.2vw;
    font-family: "AvenirSemiBold";
    margin: 0;
  }
  .date-container {
    color: #afafaf;
    font-size: 1.2vw;
    margin-top: 0;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 1.1vw;
    width: 80%;
    margin-left: 9vw;
    margin-top: 0;
  }
}

.footer {
  color: #ffffff;
  background-color: #323232;
  height: 65vh;
  width: 100%;
}

.footer-title {
  margin-left: 16px;
  padding-top: 30px;
  font-family: "AvenirBold";
  font-size: 2em;
}

.footer-media {
  margin-left: 16px;
  margin-right: 25px;
}

.footer-logo {
  display: none;
}

.address-one,
.address-two,
.address-three,
.address-four {
  margin-left: 16px;
  margin-top: 40px;
}

.address-one__name,
.address-two__name,
.address-three__name,
.address-four__name {
  font-family: "AvenirSemiBold";
  font-size: 0.8em;
}

.address-one__location,
.address-two__location,
.address-three__location,
.address-four__location {
  font-family: "AvenirThin";
  font-size: 0.7em;
}

.address-four {
  font-family: "AvenirThin";
  font-size: 0.7em;
}

.address-mailto {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-family: "AvenirThin";
}

@media only screen and (min-width: 768px) {
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 30vh;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
  }
  .footer-container__nav {
    margin-right: 105px;
    margin-left: 90px;
  }
  .footer-title {
    font-size: 1.5em;
    padding-top: 0;
    margin: 0;
    padding-right: 10px;
    padding-left: 24px;
  }
  .footer-media {
    margin-right: 0;
  }
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address-one,
  .address-two,
  .address-three {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
  }
  .address-one__name,
  .address-two__name,
  .address-three__name {
    font-size: 0.9em;
  }
  .address-one__location,
  .address-two__location,
  .address-three__location {
    font-size: 0.9em;
  }
  .address-four {
    font-size: 0.8em;
    display: inline-block;
    margin-left: 16px;
    margin-top: 30px;
  }
  .address-mailto {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-container {
    margin-left: 160px;
  }
  .footer-container__nav {
    margin-right: 100px;
  }
  .footer-media {
    margin-right: 40px;
  }
  .footer-title {
    margin-right: 10px;
  }
  .copyright-container {
    margin-left: 160px;
  }
  .address-one {
    margin-left: 180px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    margin-left: 160px;
  }
  .footer-container__nav {
    margin-right: 270px;
  }
  .footer-media {
    margin-right: 40px;
  }
  .footer-title {
    margin-right: 90px;
  }
  .copyright-container {
    margin-left: 160px;
  }
  .address-one {
    margin-left: 180px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */