/* universal resets */
html,
body {
  margin: 0;
  font-family: "AvenirRegular", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* *:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/** media query for tablet **/
/** media query got landscape, medium pixel density desktops **/
/** media query for high pixel density dekstops **/
@font-face {
  font-family: "AvenirRegular";
  src: url(../../assets/fonts/AvenirRegular.otf);
}

@font-face {
  font-family: "AvenirSemiBold";
  src: url(../../assets/fonts/AvenirSemiBold.otf);
}

@font-face {
  font-family: "AvenirBold";
  src: url(../../assets/fonts/AvenirBold.otf);
}

@font-face {
  font-family: "AvenirThin";
  src: url(../../assets/fonts/AvenirThin.otf);
}

.footer {
  color: #ffffff;
  background-color: #323232;
  height: 80vh;
}

.footer-title {
  margin-left: 16px;
  padding-top: 10px;
  font-family: "AvenirBold";
  font-size: 1.3em;
}

.footer-socials {
  margin-left: 16px;
}

.footer-socials__media {
  margin-right: 25px;
}

.address-one,
.address-two,
.address-three,
.address-four {
  margin-left: 16px;
  margin-top: 40px;
}

.address-one__name,
.address-two__name,
.address-three__name,
.address-four__name {
  font-family: "AvenirSemiBold";
  font-size: 0.8em;
}

.address-one__location,
.address-two__location,
.address-three__location,
.address-four__location {
  font-family: "AvenirThin";
  font-size: 0.7em;
}

.address-four {
  font-family: "AvenirThin";
  font-size: 0.7em;
}

.address-mailto {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-family: "AvenirThin";
}

@media only screen and (min-width: 768px) {
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 50vh;
  }
  .footer-title {
    width: 300px;
    padding-top: 10px;
    margin-left: 16px;
    font-size: 1.5em;
  }
  .footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 16px;
  }
  .footer-socials__media {
    margin-right: 25px;
  }
  .address-one,
  .address-two,
  .address-three {
    display: inline-block;
    margin-left: 16px;
    margin-right: 24px;
  }
  .address-one__name,
  .address-two__name,
  .address-three__name {
    font-size: 0.9em;
  }
  .address-one__location,
  .address-two__location,
  .address-three__location {
    font-size: 0.9em;
  }
  .address-four {
    font-size: 0.8em;
    display: inline-block;
    margin-left: 16px;
    margin-top: 30px;
  }
  .address-mailto {
    font-size: 0.8em;
  }
}

.header {
  height: 90px;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 95px;
}

.header__nav {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 15px;
  margin-right: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.header__nav:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
  }
  .header__image {
    margin-top: 4px;
    height: 120px;
    width: 120px;
  }
  .header__nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 15px;
    padding-bottom: 50px;
  }
  .header__nav:hover {
    padding-bottom: 30px;
    width: 160px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height: 80px;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__image {
    margin-left: 180px;
  }
  .header__nav {
    margin-left: 56px;
    margin-right: 10px;
    text-decoration: none;
    color: #e1e1e1;
    font-size: 12px;
  }
  .header__nav:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 27px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__image {
  position: relative;
  background-image: url(../../assets/images/heroimage.jpg);
  width: 100%;
  height: 183px;
  background-color: #323232;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__image--text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AvenirBold";
  color: #ffffff;
  position: absolute;
  margin-top: 60px;
  font-size: 30px;
  margin-left: 16px;
}

.section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  width: 100%;
}

.section__image--title {
  font-family: "AvenirBold";
  padding-left: 16px;
  font-size: 1.5em;
}

.section__image--gallery {
  width: 90%;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__image {
    position: relative;
    background-image: url(../../assets/images/heroimage.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__image--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirBold";
    color: #ffffff;
    position: absolute;
    margin-top: 120px;
    font-size: 4em;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .section__image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__image--title {
    padding-left: 24px;
    padding-right: 300px;
    font-size: 2em;
  }
  .section__image--gallery {
    width: 27%;
    margin-bottom: 24px;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__image {
    position: relative;
    background-image: url(../../assets/images/heroimage.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__image--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "AvenirBold";
    color: #ffffff;
    position: absolute;
    margin-top: 180px;
    font-size: 3em;
    margin-left: 180px;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .section__image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__image--title {
    font-size: 2em;
    margin-left: 170px;
    margin-top: 48px;
    margin-right: 250px;
  }
  .section__image--gallery {
    width: 25%;
    margin-bottom: 24px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "AvenirRegular";
}

.about__title {
  font-family: "AvenirBold";
  font-size: 0.8em;
  margin-left: 16px;
}

.about-image {
  width: 90%;
  height: 150px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirSemiBold";
  margin: 16px;
  width: 80%;
  font-size: 0.8em;
}

.about__text {
  font-family: "AvenirSemiBold";
  margin: 16px;
  width: 80%;
}

.about__text--title {
  margin-left: 16px;
  font-family: "AvenirSemiBold";
}

.text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-title__left {
  width: 90%;
  line-height: 150%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: auto;
  font-size: 0.7em;
}

.text-title__right {
  width: 90%;
  line-height: 150%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: auto;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "AvenirRegular";
  }
  .about__title {
    font-family: "AvenirBold";
    font-size: 1em;
    margin-left: 24px;
  }
  .about-image {
    width: 90%;
    height: 370px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin: 24px;
    width: 80%;
    font-size: 1em;
  }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin: 24px;
    width: 80%;
    font-size: 1.5em;
  }
  .about__text--title {
    margin-left: 24px;
    margin-top: 10px;
    font-family: "AvenirSemiBold";
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .text-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-title__left {
    width: 80%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
  .text-title__right {
    width: 80%;
    font-size: 1em;
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "AvenirRegular";
  }
  .about__title {
    font-family: "AvenirBold";
    font-size: 1em;
    margin-left: 180px;
  }
  .about-image {
    width: 62%;
    height: 450px;
    margin-bottom: 24px;
    margin-left: 250px;
  }
  .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin-left: 250px;
    width: 62%;
    font-size: 1em;
  }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirSemiBold";
    margin-top: 10px;
    margin-left: 250px;
    width: 62%;
    font-size: 1.5em;
  }
  .about__text--title {
    margin-left: 250px;
    margin-top: 10px;
    font-family: "AvenirSemiBold";
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .text-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-title__left {
    width: 30%;
    line-height: 200%;
    font-size: 0.8em;
    margin-left: 250px;
    margin-bottom: 24px;
  }
  .text-title__right {
    width: 30%;
    line-height: 200%;
    font-size: 0.8em;
    margin-left: 20px;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=main.css.map */