.comment__form {
  margin: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.comment__title {
  font-size: 1.5em;
  margin: 10vw 5vw 12.5vw 5vw;
  font-family: "AvenirBold";
}
.comment__img {
  width: 16vw;
  height: 16vw;
  border-radius: 100%;
  margin: 8vw 0;
}
.comment__name {
  margin: 0 6vw 0 6.5vw;
  display: flex;
  flex-direction: column;
}
.comment__container-name,
.comment__container-text {
  color: $silver;
  font-size: 4vw;
  font-family: "AvenirSemiBold";
}
.comment__name-input {
  border: 0.5vw solid $black;
  border-radius: 1.2vw;
  width: 50vw;
  height: 1.5vw;
  margin-top: 3vw;
  padding: 5vw;
}
.comment__text {
  display: flex;
  flex-direction: column;
  margin: 0 6vw;
}
.comment__text-input {
  width: 60vw;
  height: 25vw;
  box-sizing: border-box;
  border: 0.3vw solid $mercury;
  border-radius: 1.2vw;
  background-color: $alabaster;
  resize: none;
  margin-top: 3vw;
  padding: 5vw;
}
.comment-button {
  border-radius: 2vw;
  color: $white;
  background-color: $black;
  font-size: 4vw;
  cursor: pointer;
  width: 60vw;
  margin: 1.2vw;
  padding: 15px 32px;
  margin: 5vw 6vw;
}
.comment-output {
  margin: 10vw 0 15vw 0;
}
.row-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 4vw;
  border-top: 0.2vw solid $mercury;
  border-bottom: 0.2vw solid $mercury;
  align-items: center;
  margin: 0 5vw;
  padding: 3.1vw 0;
  border-collapse: collapse;
}

.row-container:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.button-container {
  width: 13vw;
  height: 13vw;
  border-radius: 100vw;
  background-color: $mercury;
  
}
.name-container {
  margin: 3vw 7vw 3vw 3vw;
  font-size: 4vw;
  font-family: "AvenirSemiBold";
  height: 7vw;
  flex: 2;
}
.date-container {
  color: $silver;
  font-size: 1em;
  margin: 0.5vw 1vw;
  justify-self: end;
}

.id-container {
  display: none;
}
.comment-container {
  font-family: "Avenirthin";
  text-align: left;
  font-size: 0.8em;
  width: 100vw;
  margin: 0 0 2vw 16vw;
}

@include medium {
  .comment__form {
    margin: 15px;
    display: flex;
  }
  .comment__title {
    font-size: 2.5em;
    margin-top: 32px;
    margin-left: 24px;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    margin: 5.5vw 0;
  }
  .comment__name {
    margin: 0 10vw 0 3.5vw;
    display: flex;
    flex-direction: column;
  }
  .comment__container-name,
  .comment__container-text {
    color: $silver;
    font-family: "AvenirSemiBold";
    font-size: 2vw;
  }
  .comment__name-input {
    border: 0.5vw solid $black;
    border-radius: 1.2vw;
    width: 50vw;
    height: 1.5vw;
    margin-top: 3vw;
    padding: 4vw;
    font-size: 0.8em;
  }
  .comment__text {
    display: flex;
    flex-direction: column;
    margin: 0 9vw 5.5vw;
    font-size: 0.8em;
  }
  .comment__text-input {
    width: 60vw;
    height: 10vw;
    box-sizing: border-box;
    border: 0.3vw solid $mercury;
    border-radius: 1.2vw;
    background-color: $alabaster;
    resize: none;
    margin-top: 20px;
    padding: 4vw 4vw 15vw 4vw;
    font-size: 1em;
  }
  .comment-button {
    border-radius: 1.5vw;
    color: $white;
    background-color: $black;
    font-size: 3vw;
    cursor: pointer;
    width: 30vw;
    margin: 1vw 9.5vw 6vw;
    padding: 20px 26px;
  }

  .row-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin-left: 90px;
    margin-right: 24px;
    font-size: 3.5vw;
    border-top: 0.2vw solid $mercury;
    border-bottom: 0.2vw solid $mercury;
  }
  .button-container {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: $silver;
  }
  .name-container {
    width: 170px;
    font-size: 0.7em;
    font-family: "AvenirSemiBold";
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .date-container {
    color: $silver;
    font-size: 0.6em;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 0.6em;
    width: 80vw;
    margin-left: 86px;
    margin-top: 0;
  }
}

@include large {
  .comment__form {
    // margin: 15px;
    height: 50vw;
    display: flex;
    justify-content: center;
  }
  .comment__title {
    font-size: 2em;
    margin-top: 32px;
    margin-left: 180px;
    margin-bottom: 5vw;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 100%;
    // margin: 5.5vw 20px 0;
  }
  .comment__name {
    // margin: 20px 40px 15px 20px;
    display: flex;
    flex-direction: column;
  }
  .comment__container-name,
  .comment__container-text {
    color: $silver;
    font-family: "AvenirSemiBold";
    // margin-left: 10px;
  }
  .comment__name-input {
    border: 0.5vw solid $black;
    border-radius: 1.2vw;
    width: 460px;
    height: 48px;
    margin-top: 3vw;
    padding: 0;
    font-size: 1em;
  }
  .comment__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .comment__text-input {
    width: 460px;
    height: 30px;
    box-sizing: border-box;
    border: 0.3vw solid $mercury;
    border-radius: 1.2vw;
    background-color: $alabaster;
    resize: none;
    margin-top: 20px;
    font-size: 1em;
    
  }
  .comment-output {
    margin-left: 150px;
  }
  .comment-button {
    border-radius: 1.5vw;
    color: $white;
    background-color: $black;
    font-size: 3vw;
    cursor: pointer;
    width: 30vw;
    margin-bottom: 40px;
    padding: 10px 16px;
  }

  .row-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 24px;
    font-size: 2.5vw;
    border-top: 0.2vw solid $mercury;
    border-bottom: 0.2vw solid $mercury;
  }
  .button-container {
    width: 6vw;
    height: 6vw;
    margin-right: 35px;
    border-radius: 100%;
    background-color: $silver;
  }
  .name-container {
    width: 170px;
    font-size: 0.65em;
    font-family: "AvenirSemiBold";
    margin-top: 24px;
  }
  .date-container {
    color: $silver;
    font-size: 0.5em;
    margin-top: 30px;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 0.6em;
    width: 80%;
    margin-left: 110px;
    margin-top: 0;
  }
}

@include huge {
  .comment__form {
    margin: 15px;
    display: flex;
  }
  .comment__title {
    font-size: 2em;
    margin-top: 32px;
    margin-left: 180px;
    font-family: "AvenirBold";
  }
  .comment__img {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 100%;
    margin: 5.5vw 50px 0;
  }
  .comment__name {
    margin: 20px 15px 15px 20px;
    display: flex;
    flex-direction: column;
  }

  .comment__container-text {
    color: $silver;
    font-family: "AvenirSemiBold";
    margin-left: 10px;
  }
  .comment__name-input {
    border: 0.5vw solid $black;
    border-radius: 1.2vw;
    width: 55vw;
    height: 1.5vw;
    margin-top: 3vw;
    margin-right: 35px;
    padding: 4vw;
    font-size: 1.5em;
  }
  .comment__text {
    display: flex;
    flex-direction: column;
    margin: 20px 35px 25px 40px;
  }
  .comment__text-input {
    width: 65vw;
    height: 1vw;
    box-sizing: border-box;
    border: 0.3vw solid $mercury;
    border-radius: 1.2vw;
    background-color: $alabaster;
    margin-top: 30px;
    padding: 4vw 4vw 15vw 3vw;
    font-size: 1.5em;
  }
  .comment-output {
    margin-left: 100px;
  }
  .comment-button {
    border-radius: 1.5vw;
    color: $white;
    background-color: $black;
    font-size: 3vw;
    cursor: pointer;
    width: 30vw;
    margin: 20px 40px 25px 20px;
    padding: 20px 26px;
  }

  .row-container {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    border-top: 0.2vw solid $mercury;
    border-bottom: 0.2vw solid $mercury;
  }
  .button-container {
    width: 6vw;
    height: 6vw;
    margin-right: 35px;
    margin-left: 145px;
    border-radius: 100%;
    background-color: $silver;
  }
  .name-container {
    width: 170px;
    font-size: 0.5em;
    font-family: "AvenirSemiBold";
    margin-top: 24px;
  }
  .date-container {
    color: $silver;
    font-size: 0.5em;
    margin-top: 30px;
    margin-left: 5px;
  }
  .comment-container {
    font-family: "Avenirthin";
    font-size: 10%;
    width: 80%;
    margin-left: 265px;
    margin-top: 0;
  }
}
