.header {
  height: 10vh;
  background-color: $black;
  display: flex;
  align-items: center;
  
  &-div{
    width: 100%;
  }

  &__image {
    display: flex;
    padding: 20px 0;
    margin-left: 33vw;
  }

  &__nav {
    text-decoration: none;
    color: $mercury;
    font-size: 15px;
    margin-right: 0;
    margin-left: 0;
    width: 160px;
    text-align: center;

    &:hover {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }
}
.nav-container {
  display: flex;
  align-items: center;
  // margin-left: 10px;
}

@include medium {
  .header {
    display: flex;
    padding: 0 3.125%;
    // width: 104%;
    height: 10vh;


    &-div {
      display: flex;
      width: 100%;
    }

    &__image {
      margin-left: 10px;
      margin-right: 30px;
    }

    &__nav {
      margin-left: 0;
      text-align: center;
      font-size: 15px;
      margin: 0 30px;
      width: 80px;
    }
  }
  .nav-container {
    align-items: center;
  }
}

@include large {
  .header {
    height: 80px;
    background-color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-div{
      width: 100%;
    }

    &__image {
      margin-left: 180px;
    }

    &__nav {
      margin-left: 0;
      text-align: center;
      margin-right: 10px;
      text-decoration: none;
      color: $mercury;
      font-size: 12px;

      &:hover {
        color: $white;
        border-bottom: 3px solid $white;
      }
    }
  }
}

@include huge{
  .header-div {
    width: 100%;
  }
}