.hero {
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    background-image: url(../assets/images/heroimage.jpg);
    width: 100vw;
    height: 25vh;
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--text {
      align-items: center;
      font-family: "AvenirBold";
      color: $white;
      position: absolute;
      margin-top: 75px;
      font-size: 30px;
      margin-left: 16px;
    }
  }
}

.section__image {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $alabaster;

  &--title {
    font-family: "AvenirBold";
    padding-left: 16px;
    font-size: 1.5em;
  }

  &--gallery {
    width: 90%;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    filter: grayscale(100%);
    transition: all 0.5s;
    &:hover {
      filter: grayscale(0);
    }
  }
}

@include medium {
  .hero {
    display: flex;
    flex-direction: row;
    width: 110%;

    &__image {
      position: relative;
      background-image: url(../assets/images/heroimage.jpg);
      width: 100%;
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--text {
        align-items: center;
        font-family: "AvenirBold";
        color: $white;
        position: absolute;
        margin-top: 120px;
        font-size: 4em;
        margin-left: 24px;
      }
    }
  }
  @include medium {
    .section__image {
      padding: 0 3.125%;
      display: flex;
      flex-wrap: wrap;

      &--title {
        padding-left: 0;
        font-size: 2em;
      }
      &--gallery {
        width: 224px;
        margin-left: 0px;
        margin-right: 0px;
        filter: grayscale(100%);
        transition: all 0.5s;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

@include large {
  .hero {
    display: flex;
    flex-direction: row;

    &__image {
      position: relative;
      background-image: url(../assets/images/heroimage.jpg);
      width: 100%;
      height: 620px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--text {
        align-items: center;
        font-family: "AvenirBold";
        color: $white;
        position: absolute;
        margin-top: 180px;
        font-size: 3em;
        margin-left: 180px;
      }
    }
  }
  @include large {
    .section__image {
      padding: 0;
      width: 100%;
      margin-left: 130px;

      &--title {
        font-size: 2em;
        margin-left: 50px;
      }
      &--gallery {
        width: 25%;
        margin-bottom: 24px;
        margin-right: 24px;
        filter: grayscale(100%);
        transition: all 0.5s;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
    .section-image {
      margin-left: 10px;
      width: 100vw;
    }
  }
}
