.about-container {
  display: flex;
  flex-direction: column;
  font-family: "AvenirRegular";

  &__title {
    font-family: "AvenirBold";
    font-size: 0.8em;
    margin-left: 16px;
  }

  &__image {
    display: flex;
    align-items: center;

    &--wallpaper {
      width: 90%;
      height: 20vh;
      margin-bottom: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  &__slogan {
    font-family: "AvenirSemiBold";
    margin: 16px;
    width: 80%;

    &--text {
      display: flex;
      font-family: "AvenirSemiBold";
      margin: 16px;
      width: 80%;
      font-size: 0.8em;
    }

    &--title {
      margin-left: 16px;
      font-family: "AvenirSemiBold";
    }
  }

  &__text-title {
    display: flex;
    flex-direction: column;

    &--left {
      width: 90%;
      line-height: 150%;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      margin-top: auto;
      font-size: 0.7em;
    }
    &--right {
      width: 90%;
      line-height: 150%;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      margin-top: auto;
      font-size: 0.7em;
    }
  }
}

@include medium {
  .about-container {
    font-family: "AvenirRegular";
    &__text{
      &-title{
        display: flex;
      flex-direction: row;

        &--left {
          width: 50%;
          font-size: 1em;
          line-height: 150%;
          margin-left: 24px;
          margin-right: 24px;
          margin-bottom: 24px;
          margin-top: auto;
        }
        &--right {
          width: 50%;
          font-size: 1em;
          line-height: 150%;
          margin-left: 24px;
          margin-right: 24px;
          margin-bottom: 24px;
          margin-top: auto;
        }

      }
    }

    &__title {
      font-family: "AvenirBold";
      font-size: 1em;
      margin-left: 24px;
    }

    &__image {
      display: flex;
      align-items: center;

      &--wallpaper {
        width: 90%;
        height: 370px;
        margin-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    &__slogan {
      display: flex;
      font-family: "AvenirSemiBold";
      margin: 24px;
      width: 80%;
      font-size: 1.5em;

      &--text {
        display: flex;
       
        font-family: "AvenirSemiBold";
        margin: 24px;
        width: 80%;
        font-size: 1em;
      }

      &--title {
        margin-left: 24px;
        margin-top: 10px;
        font-family: "AvenirSemiBold";
        font-size: 1.5em;
      }
    }
  }

    &--left {
      width: 50%;
      font-size: 1em;
      line-height: 150%;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
      margin-top: auto;
    }
    &--right {
      width: 50%;
      font-size: 1em;
      line-height: 150%;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
      margin-top: auto;
    }
  }


@include large {
  .about-container {
    flex-direction: column;
    font-family: "AvenirRegular";

    &__title {
      font-family: "AvenirBold";
      font-size: 1em;
      margin-left: 180px;
    }

    &__image {
      display: flex;
      align-items: center;

      &--wallpaper {
        width: 62%;
        height: 450px;
        margin-bottom: 24px;
        margin-left: 250px;
      }
    }

    &__slogan {
      display: flex;
      font-family: "AvenirSemiBold";
      margin-top: 10px;
      margin-left: 250px;
      width: 62%;
      font-size: 1.5em;

      &--text {
        display: flex;
        font-family: "AvenirSemiBold";
        margin-left: 250px;
        width: 62%;
        font-size: 1em;
      }

      &--title {
        margin-left: 250px;
        margin-top: 10px;
        font-family: "AvenirSemiBold";
        font-size: 1.5em;
      }
    }

    &__text-title {
      display: flex;
      flex-direction: row;

      &--left {
        width: 30%;
        line-height: 200%;
        font-size: 0.8em;
        margin-left: 250px;
        margin-bottom: 24px;
      }
      &--right {
        width: 30%;
        line-height: 200%;
        font-size: 0.8em;
        margin-left: 20px;
        margin-bottom: 24px;
      }
    }
  }
}
