.hero-two {
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    background-image: url(../assets/images/heroimagetwo.jpg);
    width: 100%;
    height: 550px;
    background-color: $black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--album {
      align-items: center;
      font-family: "AvenirSemiBold";
      color: $white;
      position: absolute;
      margin-top: 64px;
      font-size: 20px;
      margin-left: 20px;
    }

    &--song {
      align-items: center;
      position: absolute;
      width: 80%;
      height: 135px;
      margin-top: 400px;
      margin-left: 20px;
    }

    &--text {
      align-items: center;
      font-family: "AvenirBold";
      color: $white;
      position: absolute;
      margin-top: 95px;
      font-size: 45px;
      margin-left: 20px;
      width: 80%;
    }
  }
}
.container-div {
  padding-left: 16px;
  border-bottom: 0.2vw solid $mercury;
  padding-bottom: 16px;
}
.show-heading {
  font-family: "AvenirBold";
  font-size: 2em;
  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 0;
}

.date-heading,
.venue-heading,
.location-heading {
  display: none;
}

.date-title,
.venue-title,
.location-title {
  font-family: "AvenirSemiBold";
  color: $silver;
}

.dates-cell {
  font-family: "AvenirSemiBold";
}
.button-cell {
  padding: 12px 28px;
  border-radius: 12px;
  color: $white;
  background-color: $black;
  width: 288px;
  height: 48px;
  font-size: 15px;
}

@include medium {
  .hero-two {
    &__image {
      position: relative;
      background-image: url(../assets/images/heroimagetwo.jpg);
      width: 100%;
      height: 670px;
      background-color: $black;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--album {
        align-items: center;
        font-family: "AvenirSemiBold";
        color: $white;
        position: absolute;
        margin-top: 96px;
        font-size: 20px;
        margin-left: 24px;
      }

      &--song {
        align-items: center;
        position: absolute;
        width: 60%;
        height: 135px;
        margin-top: 500px;
        margin-left: 24px;
      }

      &--text {
        align-items: center;
        font-family: "AvenirBold";
        color: $white;
        position: absolute;
        margin-top: 130px;
        font-size: 70px;
        margin-left: 24px;
        width: 80%;
      }
    }
  }

  .container-div {
    padding-left: 24px;
    border-bottom: 0.2vw solid $mercury;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .show-heading {
    font-family: "AvenirBold";
    font-size: 2.5em;
    padding-left: 24px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  .headings {
    padding-left: 24px;
  }
  .date-heading,
  .venue-heading,
  .location-heading {
    display: inline-block;
    font-family: "AvenirSemiBold";
    color: $silver;
  }
  .date-heading {
    margin-right: 14vw;
  }
  .venue-heading {
    margin-right: 22.5vw;
  }
  .date-title,
  .venue-title,
  .location-title {
    display: none;
  }

  .dates-cell {
    width: 140px;
    margin-right: 4vw;
  }
  .venue-cell {
    text-align: left;
    width: 200px;
    margin-right: 5vw;
  }
  .button-cell {
    width: 150px;
    height: 60px;
  }
  .location-cell {
    width: 140px;
    margin-right: 6vw;
  }
}

@include large {
  .hero-two {
    &__image {
      height: 700px;
      width: 100%;

      &--album {
        margin-top: 160px;
        margin-left: 180px;
      }
      &--text {
        font-size: 65px;
        margin-top: 190px;
        margin-left: 180px;
      }
      &--song {
        width: 300px;
        height: 146px;
        margin-left: 570px;
        margin-top: 380px;
      }
    }
  }
  .headings {
    margin-left: 180px;
  }
  .table {
    margin-left: 180px;
  }

  .container-div {
    margin-top: 10px;
  }
  .date-heading {
    margin-right: 12vw;
  }
  .venue-heading {
    margin-right: 18vw;
  }
  .button-cell {
    width: 175px;
    height: 60px;
  }
}

@include huge {
  box-sizing: border-box;
  .hero-two {
    &__image {
      height: 700px;
      width: 100%;

      &--album {
        margin-top: 160px;
        margin-left: 180px;
      }
      &--text {
        font-size: 65px;
        margin-top: 190px;
        margin-left: 180px;
      }
      &--song {
        width: 300px;
        height: 146px;
        margin-left: 570px;
        margin-top: 380px;
      }
    }
  }
  .show-heading {
    font-family: "AvenirBold";
    font-size: 3em;
    padding-left: 170px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  .headings {
    margin-left: 400px;
  }
  .table {
    margin-left: 400px;
  }

  .container-div {
    margin-top: 10px;
    width: 804px;
  }
  .date-heading {
    margin-right: 9.5vw;
  }
  .venue-heading {
    margin-right: 13.2vw;
  }
  .button-cell {
    width: 235px;
    height: 60px;
  }
}
